* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width : 100%;
    height: 100%;
    margin-top: 100PX;
}


main {
    background : #303097;
    position : relative;
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-areas: 
    "a a b"
    "a a b"
    "c d d"
    "c e e";
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 10px;
}
/* 
.all {
    padding 
} */

.a {
    background: #df4b11;
    grid-area: a;
    height: 120px;
}

.b {
    background: orange;
    grid-area: b;
    height: 120px;
}

.c {
    background: green;
    grid-area: c;
    height: 120px;
}

.d {
    background: #44e9f4a7;
    grid-area : d;
    height: 50px;
}

.e {
    background: #44e9f4a7;
    grid-area : e;
    height: 55px;
}

.btn > a {
    text-decoration: none;
    outline: none;
    border: 1px solid burlywood;
    background-color: #2e4341;
    color: white;
    padding: 8px;
    border-radius: 4px;
}